<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="l">
            <h2>Address:</h2>
        <pre style="font-family: Arial, Helvetica, sans-serif;line-height: 1.4;margin-top: 1px;font-size: .9rem;">JF42+GJ5, SANKARNIADU COLONY, 
Tiruchanur, Tirupati,
Andhra Pradesh 517503</pre>
        </div>
        <div class="r">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d969.4613259713348!2d79.45097096954646!3d13.606258599173175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4d4bf2451cb523%3A0x1bc6c58cb3b27d95!2sChattada%20Sri%20Vaishnava%20Seva%20Sangam!5e0!3m2!1sen!2sin!4v1716979495797!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <br><br><br>
</body>
</html>