<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="imgs">

    <a routerLink="/home" class="logo" routerLinkActive="activebutton" ariaCurrentWhenActive="page"><img  src="\assets\ramanujacharya.jpg" /></a>
    <div class="middle">
      <a routerLink="/home" class="logo2" routerLinkActive="activebutton" ariaCurrentWhenActive="page"><img  src="\assets\logo.png" /></a>
      <h4 class="iname1">శ్రీమతే రామానుజాయ నమః</h4>
      <img class="iname2"  src="assets/name.png"/>
    </div>
    
    <a routerLink="/home" class="logo3" routerLinkActive="activebutton" ariaCurrentWhenActive="page"><img  src="\assets\right.jpg" /></a>

  </div>
 
  <nav>
    <a class="home"routerLink="/home"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a>
    <a class="home"routerLink="/contact"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Contact</a>
  </nav>
 
  <router-outlet></router-outlet>
</body>
</html>