*{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: auto;
    scroll-behavior: smooth;
}

.imgs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 120px;
    height: 150px;
}
.logo2 img{
    width: 400px;
    height: 200px;
    margin-left: 200px;
    
}
.logo3 img{
    width: 120px;
    height: 150px;
}
nav{
    margin-left: 70px;
    margin-right: 70px;
    background-color: #cdcccc;
    padding: 18px;
    border-radius: 20px;
}
nav a{
    text-decoration: none;
    color: black;
    flex-wrap: wrap;
    margin-right: 40px;
    font-size: 1.3rem;

}
.iname1{
    text-align: center;
    margin-top: -30px;
    margin-bottom: 14px;
    position: static;
    margin-left: -130px;
}
.iname2{
    width: 40%;
    margin-left: 200px;
}


@media screen and (max-width: 36rem) {
    
    .logo img{
        width: 100px;
        height: 100px;
        float: left;

    }
    .logo2 img{
        width: 200px;
        height: 100px;
        margin-left: 20px;
        
    }
    .logo3 img{
        width: 100px;
        height: 100px;
        float:right;
    }
    nav{
        margin-left: 0px;
        margin-right: 0px;
        width: 24rem;
        background-color: #cdcccc;
        padding: 18px;
        border-radius: 20px;
    }
    nav a{
        text-decoration: none;
        color: black;
        flex-wrap: wrap;
        margin-right: 40px;
        font-size: 1.3rem;
    
    }
     .iname1{
        margin-left: -0px

   }
   .iname2{
    margin-left: 15px;
    margin-top: -10px;
    margin-bottom: 10px;
    width: 90%;
   }
    

}